@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131518;
  font-family: "Overpass";
}

.container {
  width: 412px;
  padding: 32px;
  min-height: 100px;
  border-radius: 30px;
  background: var(
    --black-gradient,
    radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%)
  );
}

.circle {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262e38;
  border-radius: 50%;
}

.star {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262e38;
  border-radius: 50%;
}

h2 {
  font-size: 28px;
  color: white;
  margin-top: 30px;
}

p {
  font-size: 16px;
  color: #969fad;
  margin-top: 7px;
  margin-bottom: 24px;
}

.numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  .circle {
    color: #969fad;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    cursor: pointer;
  }

  .circle:hover {
    background-color: #fc7614;
    color: #131518;
  }
}

button {
  color: #131518;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: #fc7614;
  display: inline-block;
  border-radius: 22.5px;
  border: none;
  padding: 15px 137px 11px 137px;
  cursor: pointer;
}

.selected {
  background-color: white;
  color: #262e38 !important;
}
